# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [65]:
# import numpy and pandas

import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [66]:
# Your code here:

salaries = pd.read_csv('./Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [67]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [68]:
# Your code here:

salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

In [69]:
round(salaries.isna().sum()/len(salaries),4)*100

Name                  0.00
Job Titles            0.00
Department            0.00
Full or Part-Time     0.00
Salary or Hourly      0.00
Typical Hours        75.75
Annual Salary        24.25
Hourly Rate          75.75
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [70]:
# Your code here:

salaries['Salary or Hourly'].value_counts(dropna=False)

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [71]:
# Your code here:

salaries.groupby(['Department']).agg({'Name': 'count'}).rename(columns={'Name':'number_of_employees'})

                     number_of_employees
Department
ADMIN HEARNG                          38
ANIMAL CONTRL                         75
AVIATION                            1856
BOARD OF ELECTION                    111
BOARD OF ETHICS                        8
BUDGET & MGMT                         44
BUILDINGS                            258
BUSINESS AFFAIRS                     167
CITY CLERK                            88
CITY COUNCIL                         362
COPA                                 123
CULTURAL AFFAIRS                      74
DAIS                                1033
DISABILITIES                          28
FAMILY & SUPPORT                     656
FINANCE                              544
FIRE                                4627
HEALTH                               467
HOUSING                               66
HOUSING & ECON DEV                   154
HUMAN RELATIONS                       17
HUMAN RESOURCES                       75
INSPECTOR GEN                         95
LAW                                  398
LICENSE APPL COMM                      1
MAYOR'S OFFICE                       104
OEMC                                1737
POLICE                             13848
POLICE BOARD                           2
PROCUREMENT                           84
PUBLIC LIBRARY                      1088
PUBLIC SAFETY ADMIN                  244
STREETS & SAN                       2175
TRANSPORTN                          1113
TREASURER                             28
WATER MGMNT                         1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [72]:
# Your code here:

salaries['Hourly Rate'].mean()

34.58644971862046

In [73]:
hourly_rate= salaries[['Hourly Rate']]
hourly_rate.dropna(inplace=True)

/var/folders/33/p_3l01b14g96rn22vzwly2g00000gn/T/ipykernel_78142/2525067517.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly_rate.dropna(inplace=True)

In [74]:
hourly_rate.shape

(8174, 1)

In [75]:
# Two-sided test: (test for equality and inequality. there are two ways that Ho may be wrong. lower or higher)
# Null hypothesis or H0: mean hourly wage = $30
# Alternative hyp or H1: mean hourly wage != $30 (the hypothesis value may be too high or two low. That's the two sided test)

In [76]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hourly_rate, 30)

In [77]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   [31.21150033]
pvalue for the two-tailed test is  [3.82547585e-202]

In [78]:
# pvalue = probability of getting the result (mean) that we have, 
#          IF the poplulation mean is equal to $30/hr

# p is low, null must go: we reject the H0, which was mean hourly wage = $30
# so we assume the actual population mean is different from $30/hr

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [79]:
# Your code here:

police_df=salaries[salaries['Department']=='POLICE']

#police_df.shape
police_df.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        13824
Annual Salary           24
Hourly Rate          13824
dtype: int64

In [80]:
police_df.dropna(subset='Annual Salary', inplace=True)
police_df.isna().sum()

/var/folders/33/p_3l01b14g96rn22vzwly2g00000gn/T/ipykernel_78142/4160208470.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  police_df.dropna(subset='Annual Salary', inplace=True)

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        13824
Annual Salary            0
Hourly Rate          13824
dtype: int64

In [81]:
annual_salary= police_df[['Annual Salary']]

In [82]:
annual_salary.mean()

Annual Salary    88834.118924
dtype: float64

In [83]:
# One-sided test: (there is only one way Ho can be wrong in the one-sided test)
# Null hypothesis or H0: mean salary in police force this year > last year's mean of $86000/year
# Alternative hyp or H1: mean salary in police force this year <= last year's mean of $86000/year

In [84]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(annual_salary, 86000)

In [85]:
print('stat is  ', stat)

print('pvalue for the one-tailed test is ', pval/2) #for the one tailed # it is extremely low. We reject Ho.

# the stat and its sign: how far off are we and in what direction. 

#positive sign in stat: tells that true value of the population mean is likely to be above 86000.

stat is   [18.51748562]
pvalue for the one-tailed test is  [6.11956695e-76]

In [86]:
# DID I FORMULATE Ho CORRECT?? SOMETHING IS WRONG IN MY LAB HERE. THE MEAN IS 88834 WHICH IS > 86000 AS WELL.
# THE STAT AND THE MEAN SUPPORT HO. BUT P-VALUE REJECTS HO.

Using the `crosstab` function, find the department that has the most hourly workers.

In [87]:
# Your code here:

salaries_hourly=salaries[salaries['Salary or Hourly']=='Hourly']

display(pd.crosstab(salaries_hourly['Department'],salaries_hourly['Salary or Hourly']).sort_values(by=['Hourly'], 
                                                                                                   ascending=False))

# STREETS & SAN has the most hourly workers.

Salary or Hourly     Hourly
Department
STREETS & SAN          1846
WATER MGMNT            1558
AVIATION               1214
OEMC                   1077
DAIS                    745
TRANSPORTN              726
FAMILY & SUPPORT        357
PUBLIC LIBRARY          356
CITY COUNCIL             74
PUBLIC SAFETY ADMIN      48
LAW                      48
FINANCE                  45
POLICE                   24
MAYOR'S OFFICE           17
ANIMAL CONTRL            12
CULTURAL AFFAIRS         10
BUSINESS AFFAIRS          7
HOUSING & ECON DEV        3
HEALTH                    2
PROCUREMENT               2
BUDGET & MGMT             2
DISABILITIES              1

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [88]:
# Your code here:
streets_df=salaries[salaries['Department']=='STREETS & SAN']
streets_df.isna().sum()

Name                    0
Job Titles              0
Department              0
Full or Part-Time       0
Salary or Hourly        0
Typical Hours         329
Annual Salary        1846
Hourly Rate           329
dtype: int64

In [89]:
streets_df.dropna(subset=['Hourly Rate'], inplace=True)
streets_df.isna().sum()

/var/folders/33/p_3l01b14g96rn22vzwly2g00000gn/T/ipykernel_78142/1121727827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  streets_df.dropna(subset=['Hourly Rate'], inplace=True)

Name                    0
Job Titles              0
Department              0
Full or Part-Time       0
Salary or Hourly        0
Typical Hours           0
Annual Salary        1846
Hourly Rate             0
dtype: int64

In [91]:
hourly_rate_street= streets_df[['Hourly Rate']]

In [93]:
hourly_rate_street.mean()

Hourly Rate    35.552297
dtype: float64

In [94]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hourly_rate_street, 35)

In [95]:
print('stat is  ', stat)

print('pvalue for the one-tailed test is ', pval/2) #for the one tailed # it is extremely low. We reject Ho, which
        #is that the hourly wage is less than $35/hour in this department.

stat is   [4.0001388]
pvalue for the one-tailed test is  [3.29023722e-05]

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [ ]:
# Your code here:

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [ ]:
# Your code here:

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: